Package: com.rango.artistry
Name: Artistry
Depends: mobilesubstrate
Version: 1.3
Architecture: iphoneos-arm
Description: Show Song Artworks in all Spotify Playlists!
Maintainer: Rango 
Author: Yung Specht
Section: Tweaks
Depiction: https://yungspecht.github.io/depictions/?p=com.rango.artistry
SileoDepiction: https://yungspecht.github.io/sileodepictions/com.rango.artistry/depiction.json
